* {
    margin: 0;
    padding: 0;
}
.chess-list div {
    margin-right: 1px;
    margin-bottom: 1px;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    padding: 0;
    border-radius: 5px;
}
img {
    width: 100%;
    height: 100%;
}
.chess-list {
    font-size: 0;
}
.result {
    min-width: 570px;
}
.pubBtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.column {
    border-left: 5px solid #fff6f3;
    margin-top: 10px;
}
.large-title {
    font-size: x-large;
    display: block;
}
.armyPlus {
    margin-top: 15px;
    border: 2px;
    border-bottom-style: dashed;
}
.armyPlus span {
    color: deeppink;
    cursor: pointer;
}
.armyPlus span:hover {
    color: rgb(20, 16, 224);
}

.chess-list button {
    margin-right: 5px;
}
.traits {
    margin-top: 10px;
    border-bottom: 1px solid #fff;
}
.chess-list div {
    background-size: cover;
}
/*详情面板*/
.synergies-box {
    border: 1px solid #6f7584;
    background-color: #232937;
}
.synergies-box .type {
    position: relative;
    height: auto;
    min-height: 88px;
    padding: 10px 18px;
    border-bottom: 1px solid #383d4b;
}
/*羁绊图标*/
.synergies-box .type:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    display: block;
    width: 20px;
    height: 20px;
    background-position-y: -20px;
}
.synergies-box .type p:nth-child(2) {
    line-height: 30px;
    text-indent: 22px;
    font-size: 16px;
    color: #deb762;
    margin-bottom: 1px;
}
.synergies-box .type p:nth-child(3) {
    font-size: 12px;
    color: #acb0ba;
}
.synergies-box .content {
    padding: 10px 18px;
}
.synergies-box .content p {
    margin-bottom: 1px;
}
.synergies-box .content span:nth-child(1) {
    vertical-align: top;
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    text-indent: 0;
    text-align: center;
    border: 1px solid #acb0ba;
    border-radius: 50%;
    font-size: 12px;
    color: #acb0ba;
}
.synergies-box .content span {
    margin: 1px 0;
}
.synergies-box .content span:nth-child(2) {
    vertical-align: top;
    display: inline-block;
    width: 270px;
    height: auto;
    line-height: 22px;
    font-size: 12px;
    color: #acb0ba;
}
/*英雄简介*/
.pop1 {
    background-color: #232937;
}
.pop1 .details {
    width: 100%;
    padding-top: 10px;
}
.pop1 .details div {
    vertical-align: top;
    display: inline-block;
    width: 58px;
    height: 58px;
    margin: 0px 10px 0px 15px;
}
.pop1 .details p {
    vertical-align: top;
    display: inline-block;
    width: 180px;
    height: 58px;
}
.pop1 .details p span:nth-child(1) {
    display: block;
    width: 100%;
    height: 34px;
    line-height: 34px;
    font-size: 20px;
    font-weight: bold;
    color: #deb762;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pop1 .details p span:nth-child(2) {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    color: #025cff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pop1 .details p span:nth-child(3) {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #7a7e87;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pop1 .title {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 15px;
    text-indent: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #deb762;
}
.pop1 .title:after {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0px;
    width: 330px;
    height: 9px;
    background: url(//game.gtimg.cn/images/lol/guides/tft/cut2.png) no-repeat;
}
.pop1 .recommend .champions {
    margin-left: 15px;
    font-size: 0;
}
.pop1 .recommend img {
    vertical-align: top;
    display: inline-block;
    width: 34px;
    height: 34px;
    padding: 1px;
    margin: 5px 15px 5px 0;
    border: 1px solid #826a2a;
}
.pop1 .skill .info {
    margin: 0px 0 0px 15px;
}
.pop1 .skill .info img {
    vertical-align: top;
    display: inline-block;
    width: 44px;
    height: 44px;
    margin-right: 10px;
}
.pop1 .skill .name {
    vertical-align: top;
    display: inline-block;
    width: 260px;
    height: 23px;
}
.pop1 .skill .name span:nth-child(1) {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: #deb762;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pop1 .skill .name span:nth-child(2) {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #acb0ba;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pop1 .skill .description {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    font-size: 12px;
    color: #acb0ba;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*羁绊筛选按钮*/
.btn-choose {
    background: url(//game.gtimg.cn/images/lol/act/a20191029tftset2/icon-bg.png)
        no-repeat;
    width: 58px;
    height: 100px;
    display: inline-block;
    margin: 0 5px;
}
.btn-choose.on {
    background: url(//game.gtimg.cn/images/lol/act/a20191029tftset2/icon-bgon.png)
        no-repeat;
    width: 58px;
    height: 98px;
    display: inline-block;
}
.btn-choose i {
    width: 58px;
    height: 58px;
    display: block;
}
.btn-choose span.group_span {
    margin: 15px 0px 0px 14px;
}
.btn-choose span.group_name {
    margin-top: 13px;
    font-size: 12px;
    display: block;
    text-align: center;
    color: #a87946;
}

/*羁绊小图标*/
.result-jiban {
    min-width: 570px;
}
.btn-choose {
    overflow: hidden;
}
.group_span {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
.group_span_img {
    width: 30px;
    height: 30px;
    filter: drop-shadow(#a97b16 30px 0);
    -webkit-filter: drop-shadow(#a97b16 30px 0);
    left: -30px;
    position: absolute;
}
.result-jiban > div {
    vertical-align: top;
    display: inline-block;
    position: relative;
    width: auto;
    min-width: 70px;
    height: 28px;
    margin: 2px 18px 2px 0;
}
.result-jiban > div > img {
    position: absolute;
    top: 6px;
    left: 4px;
    width: 16px;
    height: 16px;
    z-index: 1;
}
.result-jiban > div > span {
    position: relative;
    display: inline-block;
    min-width: 58px;
    height: 20px;
    line-height: 20px;
    padding: 0 6px 0 16px;
    margin: 4px 0 4px 12px;
    text-align: center;
    font-size: 12px;
    color: #000;
}

.grade1 > span {
    background-color: #d1906f;
}
.grade2 > span {
    background-color: #a3b2b1;
}
.grade3 > span {
    background-color: #eec768;
}

.grade3 span:before {
    position: absolute;
    top: -4px;
    left: -12px;
    content: "";
    display: block;
    width: 24px;
    height: 28px;
    background: url(//game.gtimg.cn/images/lol/guides/tft/set3/spr-label.png)
        no-repeat;
    background-position: 0 0;
}
.grade2 span:before {
    position: absolute;
    top: -4px;
    left: -12px;
    content: "";
    display: block;
    width: 24px;
    height: 28px;
    background: url(//game.gtimg.cn/images/lol/guides/tft/set3/spr-label.png)
        no-repeat;
    background-position: 0 -28px;
}
.grade1 span:before {
    position: absolute;
    top: -4px;
    left: -12px;
    content: "";
    display: block;
    width: 24px;
    height: 28px;
    background: url(//game.gtimg.cn/images/lol/guides/tft/set3/spr-label.png)
        no-repeat;
    background-position: 0 -56px;
}
.grade3 {
    background: url(//game.gtimg.cn/images/lol/guides/tft/set3/spr-label.png)
        no-repeat;
    background-position: 0 0;
}
.grade2 {
    background: url(//game.gtimg.cn/images/lol/guides/tft/set3/spr-label.png)
        no-repeat;
    background-position: 0 -28px;
}
.grade1 {
    background: url(//game.gtimg.cn/images/lol/guides/tft/set3/spr-label.png)
        no-repeat;
    background-position: 0 -56px;
}

/*英雄头像*/
.hi_196 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/196.png);}
.hi_239 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/239.png);}
.hi_245 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/245.png);}
.hi_237 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/237.png);}
.hi_243 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/243.png);}
.hi_228 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/228.png);}
.hi_198 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/198.png);}
.hi_211 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/211.png);}
.hi_225 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/225.png);}
.hi_250 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/250.png);}
.hi_203 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/203.png);}
.hi_208 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/208.png);}
.hi_209 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/209.png);}
.hi_241 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/241.png);}
.hi_215 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/215.png);}
.hi_224 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/224.png);}
.hi_210 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/210.png);}
.hi_202 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/202.png);}
.hi_244 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/244.png);}
.hi_219 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/219.png);}
.hi_240 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/240.png);}
.hi_200 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/200.png);}
.hi_227 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/227.png);}
.hi_204 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/204.png);}
.hi_195 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/195.png);}
.hi_217 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/217.png);}
.hi_206 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/206.png);}
.hi_236 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/236.png);}
.hi_230 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/230.png);}
.hi_233 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/233.png);}
.hi_223 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/223.png);}
.hi_194 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/194.png);}
.hi_231 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/231.png);}
.hi_205 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/205.png);}
.hi_222 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/222.png);}
.hi_207 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/207.png);}
.hi_221 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/221.png);}
.hi_201 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/201.png);}
.hi_216 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/216.png);}
.hi_246 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/246.png);}
.hi_212 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/212.png);}
.hi_218 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/218.png);}
.hi_213 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/213.png);}
.hi_235 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/235.png);}
.hi_249 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/249.png);}
.hi_242 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/242.png);}
.hi_193 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/193.png);}
.hi_226 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/226.png);}
.hi_199 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/199.png);}
.hi_248 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/248.png);}
.hi_238 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/238.png);}
.hi_214 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/214.png);}
.hi_234 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/234.png);}
.hi_197 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/197.png);}
.hi_229 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/229.png);}
.hi_247 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/247.png);}
.hi_232 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/232.png);}
.hi_220 {background: url(//game.gtimg.cn/images/lol/act/img/tft/champions/220.png);}


/*
版本提示
*/
.version{
    color: floralwhite;
    border-radius: 5px;
    background-color: darkgray;
    padding: 2px;
    width: 300px;
}